.chatBar {
    position: fixed;        
    bottom: 5%;         
    left: 57%;                
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    width: 100%;
  }
  
  .chat-input {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 15px;
  }
  
  .send-btn {
    background-color:  #2482A6;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }