@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

:root{
  --Primarycolor : #2482A6;
  --Secondarycolor: #F3F4F6;
  --whiteColor : hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33% , 13%);
}
